html, body {
    width: 100%;
    height: 100%;
    font-family: 'ZCOOL QingKe HuangYou', cursive !important;
}

a, p, button {
    font-family: 'ZCOOL QingKe HuangYou', cursive !important;
}

header {
    /* Cover na imagem da tela (justa ao tamanho */
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url('../images/bg3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    text-align: center;
    color: white;
}

.profile {
    background: #FFF;
    box-shadow: 0 0 160px 0 rgba(242, 5, 68, 95);
    border-radius: 60%;
    padding: 2px;
    width: 12%;
}

/* @media (min-width: 768px) {
    .profile {
        border-radius: 50%;
        width: 15%;
        border: 5px solid white;
    }
} */

@media (max-width: 575.98px) {
    .profile {
        border-radius: 50%;
        width: 50%;
        border: 5px solid white;
    }
}

/* .text {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 14px;
    font-weight: bold;
} */

.link {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
    color: white;
    font-size: 20px;
}

/* Hover é para quando o mouse passar por cima*/
.link:hover {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
    color: yellow;
    font-size: 25px;
}

.space {
    padding-bottom: 25px;
    /*margin-right: 30px;*/
}

.space-top {
    padding-top: 25px;
}

.space-margin {
    margin-bottom: 10px;
}

.techs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 50px 20px;
}

.techs-icon {
    background: #FFF;
    box-shadow: 0 0 160px 0 rgba(242, 5, 68, 95);
    border-radius: 25% 10%;
    padding: 2px;
    width: 30%;
}

.footer {
    background-color: #EEEEEE;
    height: 35px;
    padding: 30px 220px;
    padding-top: 30px;
    padding-bottom: 63px;
    text-align: center;
    color: #999999;
    font-size: 14px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.col-md-3 {
    flex: 0 0 25%;
    max-width: 70% !important;
}